@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --primary: dodgerblue;
  --primary-dark: rgb(5, 92, 179);
  --white: rgb(245, 245, 245);
  --bg-white: rgb(245, 245, 245);
  --black: rgb(75, 75, 75);
  --bg-black: rgb(15, 15, 15);

  &.light-mode {
    --tile-bg: rgb(250, 250, 250);
    --border-color: rgb(0, 0, 0, 0.1);

    background-color: var(--white);
    color: var(--black);

    & dialog {
      background-color: var(--white);
      color: var(--black);
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

      & a {
        color: var(--black);
        border: 2px solid var(--black);

        & img {
          filter: invert(100%);
        }

        &:hover img {
          filter: none;
        }
      }

      & .tech div {
        border-color: var(--black) !important;
      }
    }
  }

  &.dark-mode {
    --tile-bg: rgb(35, 35, 35);
    --border-color: rgb(255, 255, 255, 0.1);

    background-color: var(--bg-black);
    color: var(--white);

    & dialog {
      background-color: var(--tile-bg);
      color: var(--white);
      border: 1px solid rgba(255,255,255,0.1);
      /* box-shadow: 0 0 0.75rem 0 rgba(255, 255, 255, 0.1); */

      & a {
        color: var(--white);
        border: 1px solid var(--white);
      }
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;

  padding: 4em 2em;
  box-sizing: border-box;
}

.dark-light-switch {
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 1.75rem;
  width: 1.75rem;
  display: grid;
  place-items: center;
  transition: 0.2s;

  & img {
    height: 100%;
    width: 100%;
  }

  &:hover {
    scale: 1.1;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary);
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 2.5rem;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: auto;
}

.tile {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  box-sizing: border-box;
  width: 7rem;
  height: 7rem;
  padding: 1.25em 0.75em;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.075);
  border-radius: 0.75rem;
  background-color: var(--tile-bg);
  color: inherit;

  text-align: center;
  text-decoration: none;

  transition: 0.2s;

  & img {
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 0.5rem;
  }

  &:hover {
    scale: 1.05;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.075),
      -0.5px 0 0 0.5px rgba(0, 0, 0, 0.01), 0 -0.5px 0 0.5px rgba(0, 0, 0, 0.05);
  }
}

a.tile img {
  filter: invert(45%) sepia(70%) saturate(1037%) hue-rotate(185deg)
    brightness(101%) contrast(101%);
}

@media only screen and (min-width: 768px) {
  .heading {
    font-size: 1.75rem;
  }

  .box {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
  }

  .tile {
    height: 12rem;
    width: 12rem;
    padding: 0.25em;
    gap: 0.8em;
    font-size: 0.75rem;
  }

  .tile img {
    height: 7.5rem;
    width: 7.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .heading {
    font-size: 2rem;
  }

  .box {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75em;
  }

  .tile {
    height: 14rem;
    width: 14rem;
    padding: 0.3em;
    gap: 1em;
    font-size: 1rem;
  }

  .tile img {
    height: 9rem;
    width: fit-content;
    max-width: 9rem;
  }
}
