@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --primary: dodgerblue;
  --primary-dark: rgb(5, 92, 179);
  --white: rgb(245, 245, 245);
  --bg-white: rgb(245, 245, 245);
  --black: rgb(75, 75, 75);
  --bg-black: rgb(15, 15, 15);

  &.light-mode {
    --tile-bg: rgb(250, 250, 250);
    --border-color: rgb(0, 0, 0, 0.1);

    background-color: var(--white);
    color: var(--black);

    & dialog {
      background-color: var(--white);
      color: var(--black);
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

      & a {
        color: var(--black);
        border: 2px solid var(--black);

        & img {
          filter: invert(100%);
        }

        &:hover img {
          filter: none;
        }
      }

      & .tech div {
        border-color: var(--black) !important;
      }
    }
  }

  &.dark-mode {
    --tile-bg: rgb(35, 35, 35);
    --border-color: rgb(255, 255, 255, 0.1);

    background-color: var(--bg-black);
    color: var(--white);

    & dialog {
      background-color: var(--tile-bg);
      color: var(--white);
      border: 1px solid rgba(255, 255, 255, 0.1);
      /* box-shadow: 0 0 0.75rem 0 rgba(255, 255, 255, 0.1); */

      & a {
        color: var(--white);
        border: 1px solid var(--white);
      }
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;

  padding: 4em 2em;
  box-sizing: border-box;
}

.dark-light-switch {
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  display: grid;
  place-items: center;
  transition: 0.2s;

  & img {
    height: 100%;
    width: 100%;
  }

  &:hover {
    scale: 1.1;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary);
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 2.5rem;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: auto;
}

.tile {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  box-sizing: border-box;
  width: 7rem;
  height: 7rem;
  padding: 1.25em 0.75em;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.075);
  border-radius: 0.75rem;
  background-color: var(--tile-bg);
  color: inherit;

  text-align: center;
  text-decoration: none;

  transition: 0.2s;

  & img {
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 0.5rem;
  }

  &:hover {
    scale: 1.05;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.075),
      -0.5px 0 0 0.5px rgba(0, 0, 0, 0.01), 0 -0.5px 0 0.5px rgba(0, 0, 0, 0.05);
  }
}

a.tile img {
  filter: invert(45%) sepia(70%) saturate(1037%) hue-rotate(185deg)
    brightness(101%) contrast(101%);
}

dialog {
  position: fixed;
  inset: 0;
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 0.75rem;
  outline: none; /* TODO: Add artificial outline for keyboard nav */

  &::backdrop {
    backdrop-filter: blur(10px);
  }

  & .dialog-close {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: red;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0.6;
    padding: 0.35rem;
    border-radius: 50%;
    background-color: rgba(254, 103, 103, 0.25);
  }

  & .dialog-main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    & .project-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      & > * {
        max-width: 12rem;
      }

      & .img-box {
        height: 12rem;
        width: 12rem;

        & img {
          height: 100%;
          width: 100%;
          border-radius: 0.75rem;
        }
      }

      & .about {
        color: inherit;
        font-size: 0.85rem;
        text-align: center;
      }

      & .tech {
        display: flex;
        /* justify-content: center; */
        gap: 0.5rem;
        flex-wrap: wrap;

        & div {
          font-size: 0.6rem;
          border-radius: 9999px;
          padding: 0.25rem 0.5rem;
          border: 1px solid var(--white);
          text-transform: uppercase;
        }
      }
    }

    & .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      & a {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        font-size: 0.75rem;
        font-weight: 900;
        outline: none; /* TODO: Add artificial outline for keyboard nav */
        padding: 0.5rem;
        border-radius: 999px;

        & img {
          height: 1.5rem;
          width: 1.5rem;
        }

        &:hover {
          background-color: var(--primary);
          color: var(--white);
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .dark-light-switch {
    height: 1.75rem;
    width: 1.75rem;
  }

  .heading {
    font-size: 1.75rem;
  }

  .box {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
  }

  .tile {
    height: 12rem;
    width: 12rem;
    padding: 0.25em;
    gap: 0.8em;
    font-size: 0.75rem;

    & img {
      height: 7.5rem;
      width: 7.5rem;
    }
  }

  dialog {
    & .dialog-close {
      background-color: transparent;

      &:hover {
        background-color: rgba(254, 103, 103, 0.25);
      }
    }

    & .dialog-main {
      flex-direction: row;

      & .links {
        margin-right: 0.75rem;

        & a {
          width: 100%;
          font-size: 0.9rem;
          padding: 0.75rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .heading {
    font-size: 2rem;
  }

  .box {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75em;
  }

  .tile {
    height: 14rem;
    width: 14rem;
    padding: 0.3em;
    gap: 1em;
    font-size: 1rem;

    & img {
      height: 9rem;
      width: 9rem;
    }
  }
}
